.flash-box
  .notice system_message
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to "#", class: "icon" do
              %i.fa.fa-edit            
          %li.side-header__box__menu__edit-user
            = link_to "#", class: "icon" do
              %i.fa.fa-cog
    .groups
      = link_to "#", class: 'groups__link' do
        .group
          %p.group__group-name group.name
          %p.group__latest-message group.message
        .group
          %p.group__group-name group.name
          %p.group__latest-message group.message
  = render 'messages/chat'