* {
 box-sizing: border-box;
}

.chat-side {
  float: left;
  height: 100vh;
  width: 300px;
}

.side-header {
  width: 300px;
  height: 100px;
  background-color: $side_blue_dark;
  display: flex; 
  padding: 0 20px;
  &__box {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    width: 100%;
    &__user-name{
      font-size: 16px;
      font-weight: bold;
      color: $white;
        }
    &__menu {
      display: flex;
      &__new-group {
        margin-right: 5px;
      }
      .icon {
        color: $white;
    }
    }
  }
}


.groups {
  background-color: $side_blue_light;
  padding: 0 20px;
  height: $height-btm;
  &__link {
    text-decoration: none;
  }
}

.group {
  padding-top: 20px;
  &__group-name {
    font-size: 15px;
    font-weight: bold;
    color: $white;
    margin-bottom: 5px;
  }
  &__latest-message {
    font-size: 11px;
    font-weight: bold;
    color: $white;
    margin-bottom: 40px;
  }
}


.chat-main {
  width: $width-right;
  float: left;
  height: 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  height: 100px;
  padding: 0 40px;

  &__left-box {
    margin-top: 35px;
    &__current-group {
      font-size: 20px;
      margin-bottom: 15px;
      color: #333333;
    }
    &__member-list {
      display: flex;
      font-size: 12px;
      color: $light_gray;
    }
  }
  &__edit {
    color: $light_blue;
    text-decoration: none;
  }
  &__edit-btn {
    padding: 0 20px;
    margin-top: 28px;
    position: absolute;
    border: 1px solid $light_blue;
    height: 40px;
    line-height: 40px;
    right: 40px;
  }
}
.messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100% - 190px);
  overflow: scroll;
  .message {
    .upper-message {
      display: flex;
      &__user-name {
        color: $black;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: $light_gray;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: $black;
        font-size: 14px;
        margin-bottom: 40px;
      }
      &__image {
        height: 200px;
        width: auto;
      }
    }
  }
}
.form {
  background-color: #DDDDDD;
  width: $width-right;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}
